Bem-vindo ao aluga temporada!

<% if @properties.empty? %>
  <p>Nenhuma proposta para este imóvel no momento</p>
<% else%>
  <% @properties.each do |proposal| %>
    <ul>
      <h1>Nome do proponente: <%= proposal.guest_name %></h1>     
      <h1>Regiao: <%= proposal.property.region.name %></h1>
      <h2>Propriedade: <%= proposal.property.title %></h2>
      <h2>Motivo: <%= proposal.rent_purpose %></h2> 
    </ul>     
  <% end %>

<%= link_to 'Cadastrar Imóvel', new_property_path %>

<% if @properties.empty? %>
<% else %>
  <% @properties.each do |property| %>
    <%= link_to(property.title, property)%>
  <% end %>
<% end %>
