<% if @proposals.empty? %>
  <p>Nenhuma proposta para este imóvel no momento</p>
<% else%>
  <% @proposals.each do |proposal| %>
    <ul>
      <li>
        <h1>Propriedade: <%= proposal.property.title %></h1>
      </li>
      <li>
        <h2>Tipo: <%= proposal.property.property_type.name %></h2>
      </li>
      <li>
        <h2>Região: <%= proposal.property.region.name %></h2>
      </li>
      <li>
        <h1>Nome do proponente: <%= proposal.guest_name %></h1>
      </li>
      <li>
        <h2><%= link_to "Proposta ##{proposal.id}",  property_proposal_path(proposal.property, proposal) %></h2>
      </li>
      <li>
        <h2>Status: <%= I18n.t(proposal.status) %></h2> 
      </li>
      <li>
        <h2>Motivo: <%= proposal.rent_purpose %></h2> 
      </li>
      <li>
        <h3>Período: De <%= I18n.localize(proposal.start_date) %> até <%= I18n.localize(proposal.end_date) %></h3>
      </li>  
    </ul>     
  <% end %>
<% end %>
