<h1>Proposta para: <%= @proposal.property.title %></h1>
<h1>Feita por:</h1>
<div>
  <h2><%= @proposal.guest_name %></h2>
  <h2><%= @proposal.email %></h2>
  <h3><%= @proposal.rent_purpose %></h3>
</div>

<div> 
  <%= link_to 'Aprovar', approve_proposal_path(@proposal), method: :post %>
</div>